@model PaisesDetalhadosViewModel
<link href="~/css/detalhes.css" rel="stylesheet" />
<div class="container-pais">
    <!-- Banner com as 3 fotos -->
    <section class="banner">
        <img class="banner-image" src="/img/fundopaisesdetalhados.png" alt="banner-image" />
    </section>

    <!-- Descrição que aparece -->
    <section class="descricao">
        <p>Os Melhores planos de viagens vistos no mercado.</p>
    </section>

    <br>
    <br>
    <br>

    @if (Model != null)
    {
        <div class="container-pais">
            <!-- Seção do País -->
            <div class="pais-section">
                <img src="@Model.Pais.image_pais" alt="@Model.Pais.NomePais" class="flag-img" />
                <div class="pais-info">
                    <h2 class="pais-nome">@Model.Pais.NomePais</h2>
                    <p class="pais-descricao">@Model.Pais.DescricaoPais</p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            

            <!-- Programas de Intercâmbio -->
            <!-- Cartões -->
            <div class="programas-section">
                <br />
                <br />
                <h3>PROGRAMAS DE INTERCÂMBIO</h3>
                <h4>PARA ESTUDAR</h4>
                <div class="cardsprog">
                    <div class="cardinfo">
                        <img src=@Model.Pais.image_clima alt="Melhores países">
                        <h3>Clima:</h3>
                        <p>@Model.Pais.ClimaPais</p>
                    </div>

                    <div class="cardinfo">
                        <img src=@Model.Pais.image_comida alt="Estudos">
                        <h3>Comidas Típicas:</h3>
                        <p>@Model.Pais.ComidasTip</p>
                    </div>

                    <div class="cardinfo">
                        <img src=@Model.Pais.image_moeda alt="Explore novos idiomas">
                        <h3>Moeda:</h3>
                        <p>@Model.Pais.MoedaPais</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />

        <!--PLANOS DE CADA PAÍS-->
         <!-- Planos Section -->
        <div class="container my-5">
            <header id="moreContent" class="mb-4">
                <h3>Veja Mais</h3>
            </header>
            </div>
    <div id="products-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    @foreach (var plano in Model.Planos)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card product-card shadow-0 border rounded-3">
                                <div class="card-body">
                                    <div class="hover-zoom">
                                        @if (plano.image_plano != null)
                                        {
                                            <img src="@plano.image_plano" class="product-image img-fluid rounded-4" alt="Imagem do Plano" />
                                        }
                                        else
                                        {
                                            <img src="/Imagens/imagenotfound.png" class="product-image img-fluid rounded-4" alt="Imagem Padrão" />
                                        }
                                    </div>
                                    <div class="pt-3">

                                        <h5 class="product-name">@plano.Nome</h5>

                                        <p class="product-info">Hospedagem: @plano.HospedagemPlano</p>

                                        <p class="product-info"> Curso: @plano.CursoPlano</p>

                                        <p class="product-info">Escola: @plano.InstituicaoPlano</p>

                                        <br />

                                        <p class="product-description small text-muted">@plano.DescricaoPlano</p>

                                        <p class="product-period">Período: @plano.PeriodoPlano</p>

                                        <!--<img src="/Imagens/favoritar.png" class="product-favoritar" alt="favoritar" />-->

                                        <p class="product-parcel"> @plano.ParcelaPlano</p>

                                        <p class="product-price">R$@plano.Valor</p>
                                        <img src="/Imagens/favoritar.png" class="product-favoritar" alt="favoritar" />
                                        <hr />
                                        <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                                            @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" name="id" value="@plano.IdPlano" />
                                                <input type="hidden" name="quantidade" value="1" />

                                                <button type="submit" class="button">
                                                    <span class="button__text">ADICIONAR AO CARRINHO</span>
                                                    <div class="button__icon">
                                                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 4H22L20.395 12.93C20.282 13.545 19.751 14 19.126 14H8.745L7.878 9H19V7H7L5.302 15H18V17H4.573L4.095 14.856L3 9.944V4H7ZM6 18C7.104 18 8 18.896 8 20C8 21.104 7.104 22 6 22C4.896 22 4 21.104 4 20C4 18.896 4.896 18 6 18ZM18 18C19.104 18 20 18.896 20 20C20 21.104 19.104 22 18 22C16.896 22 16 21.104 16 20C16 18.896 16.896 18 18 18Z" fill="currentColor" />
                                                        </svg>

                                                    </div>
                                                </button>
                                            }
                                        </div>
                                        <br />
                                        <br />

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    }
    else
    {
        <p>País não encontrado.</p>
    }
</div>
